/*DATATABLES*/

.acaoTxt {
    display: inline-block;
}

.acaoIcon {
    display: none;
    width: 37px;
}

#acoes {
    min-width: 125px !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    margin: 0 10px;
}

table.dataTable {
    min-width: 100% !important;
}


/*parte mobile*/

@media(max-width: 997px) {

    .acaoTxt {
        display: none;
    }

    .acaoIcon {
        display: inline-block;
    }

    .content-wrapper {
        min-height: calc(100vh - 176px) !important;
    }

    #acoes {
        min-width: 80px !important;
        width: 80px !important;
    }

    #acoes1 {
        min-width: 40px !important;
        width: 40px !important;
    }

    #acoes3 {
        width: 102px !important;
        min-width: 102px !important;
    }

    #data-acoes {
        text-align: center;
        width: 102px !important;
        min-width: 102px !important;
    }


}
